ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMe123!
JWT_SECRET_KEY=replace-with-a-long-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=720

MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=clinical_qc
MYSQL_USER=clinical_qc
MYSQL_PASSWORD=clinical_qc_password
MYSQL_HOST=mysql
MYSQL_PORT=3306

STORAGE_DIR=/app/storage
MAX_AUDIO_SIZE_MB=100

DIFY_PROTOCOL=workflow
DIFY_OPENAI_BASE_URL=http://host.docker.internal:8081
DIFY_HAMD_API_KEY=
DIFY_HAMA_API_KEY=
DIFY_PHQ9_API_KEY=
DIFY_OPENAI_MODEL=dify
DIFY_WORKFLOW_BASE_URL=http://101.200.145.196:8888
DIFY_WORKFLOW_API_KEY=
DIFY_WORKFLOW_USER=clinical-qc
DIFY_WORKFLOW_DIALOG_INPUT=dialog
DIFY_WORKFLOW_DOCTOR_TEST_INPUT=doctor_test
DIFY_WORKFLOW_REQUIRE_DOCTOR_TEST_FILE=true
DIFY_TIMEOUT_SECONDS=120

XFYUN_APP_ID=
XFYUN_API_KEY=
XFYUN_API_SECRET=
XFYUN_ASR_BASE_URL=https://raasr.xfyun.cn/v2/api
XFYUN_POLL_INTERVAL_SECONDS=3
XFYUN_TIMEOUT_SECONDS=900

BACKEND_PORT=8000
FRONTEND_PORT=8080
